@mixin flexbox($dir, $align, $just) {
	display: flex;
	flex-direction: $dir;
	align-items: $align;
	justify-content: $just;
}

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 59.37em) {
			@content;
		}
	}
	@if $breakpoint == tab-horz {
		@media (max-width: 68.75em) {
			@content;
		}
	}
}
